<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <div th:insert="~{partials :: header}"></div>
    <div th:insert="~{partials :: css}"></div>
</head>
<body>
<nav th:insert="~{partials :: navbar}"></nav>

<body>
<form th:action="@{/updateUser}" th:method="post" th:object="${user}">
  Name<input type="text" id="name"  th:field="*{name}">
  Username<input type="text" id="username" name="named" th:value="${name}">
  Age<input type="text" id="age" th:field="*{age}">
  <!--    Address<input type="text" id="address" th:field="*{address}">-->
  Password<input type="text" id="password" th:field="*{pw}">
  <input type="submit" value="Update">
</form>
</body>
</html>